<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.ecdict.dictionary.concise-english-chinese.v111</string>
	<key>CFBundleName</key>
	<string>ECDICT 简明英汉字典</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>DCSDictionaryCopyright</key>
	<string>ECDICT 1.0.28 © 2017 Linwei; upstream MDX declares MIT / CC dual licensing. This repository includes the MIT License.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>ECDICT</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>MyDictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>MyDictionary.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>pronunciation</key>
		<string>0</string>
		<key>display-column</key>
		<string>1</string>
		<key>display-picture</key>
		<string>1</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
</dict>
</plist>
